.icons-container {
    position: fixed;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: #ef4f4f94;
    border-radius: 100px;
    padding: 15px;
    height: 200px;
    justify-content: center;
    transition: 0.5s;
    backdrop-filter: blur(3px);
}

.icons-container:hover {
    left: 0;
}

.icons-container a {
    width: 40px;
}

.icons-container a img {
    width: 100%;
}