.hero {
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(271deg, #000000, #0000008f);
}

.home-carousel-container {
  max-width: 600px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.card {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  --bg-color: #212121;
  padding: 0 48px;
}

.loader {
  font-size: 35px;
  font-weight: 600;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.loader p {
  color: white;
}

.words {
  overflow: hidden;
  position: relative;
}

.word {
  font-weight: 900;
  display: block;
  height: 100%;
  padding-left: 6px;
  color: var(--main-color);
}

.hero-description {
  color: #bdbdbd;
  font-size: 20px;
  width: 350px;
  margin-bottom: 40px;
}

.shop-now {
  position: absolute;
  width: 120px;
  padding: 16px;
  text-align: center;
  color: white;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-weight: 800;
  z-index: 1;
  transition: 0.5s;
}

.shop-now::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ec1c25;
  z-index: -1;
  border-radius: 10px;
  transition: 0.5s;
}

.shop-now:hover {
  color: white;
}

.shop-now:hover::after {
  width: 100%;

}

@media (max-width: 768px) {
  .shop-now {
    right: 50%;
    transform: translateX(50%);
  }

  .loader {
    justify-content: center;
  }

  .hero-description {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .word {
    animation: spin_4991 4s infinite;
  }

  @keyframes spin_4991 {
    10% {
      -webkit-transform: translateY(-102%);
      transform: translateY(-102%);
    }

    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }

    35% {
      -webkit-transform: translateY(-202%);
      transform: translateY(-202%);
    }

    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }

    60% {
      -webkit-transform: translateY(-302%);
      transform: translateY(-302%);
    }

    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }

    85% {
      -webkit-transform: translateY(-402%);
      transform: translateY(-402%);
    }

    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }
}

@media (max-width: 650px) {
  .card {
    padding: 0 7px;
  }

  .loader {
    font-size: 30px;
  }

  .hero-description {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .loader {
    font-size: 25px;
  }

  .hero-description {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .loader {
    font-size: 24px;
  }

  .hero-description {
    font-size: 14px;
    width: 250px;
    margin: 0 auto 40px;
  }
}

@media (max-width: 420px) {
  .loader {
    font-size: 23px;
  }
}

@media (max-width: 400px) {
  .loader {
    font-size: 22px;
  }
}

@media (max-width: 380px) {
  .loader {
    font-size: 21px;
  }
}