.footer {
  background: #111827;
  color: #d1d5db;
}

.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 48px 16px 20px;
}

.footer-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px
}

.footer-logo {
  width: 60px;
  height: 50px;
}

.footer-grid p {
  text-align: center;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-link {
  color: #d1d5db;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #dc2626;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: #d1d5db;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #dc2626;
}

.contact-info {
  list-style: none;
}

.contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.contact-info svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.footer-bottom {
  border-top: 1px solid #374151;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  margin-top: 24px;
}

.footer-bottom .social-links {
  display: flex;
  align-items: center;
}

.footer-bottom .social-links a {
  color: #c7c7c7;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-grid {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

@media (max-width: 600px) {
  .footer-grid p {
    font-size: 15px
  }

  .copyright {
    font-size: 14px;
  }
}